<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Health Check</title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/form.css" />
    <link rel="stylesheet" href="/css/button.css" />
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/session-stats.css" />
    <link rel="stylesheet" href="/css/session-compare.css" />
  </head>
  <body>
    <header>
      <h1>Compare health checks</h1>
      <a href="/sessions">All sessions</a>
    </header>
    <main>
      <table cellspacing="0">
        <thead>
          <tr>
            <th>Topic</th>
            {{#each sessions}}
              <th colspan="2">
                <div>{{this.team}}</div>
                <div>{{this.when}}</div>
              </th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each stats}}
            <tr data-hasanswers>
              <td style="width: 100%">{{this.topic}}</td>
              {{#each this.perSession}}
                {{#if this.hasAnswers}}
                  <td>
                    <span
                      class="state"
                      style="background-color: hsl(calc({{this.state}} / 1.1) 90% 45%)"
                    >
                    </span>
                  </td>
                  <td>
                    <span class="trend">
                      <svg
                        class="w-100 white debug-grid mb4 db"
                        viewBox="0 0 100 100"
                        fill="hsl(calc({{this.trend}} / 1.1) 90% 45%)"
                        stroke="#444"
                        stroke-width="calc(100/28)"
                      >
                        <polygon
                          points="0,{{this.trend}} 50,0 100,{{this.trend}} 50,100"
                        >
                        </polygon>
                      </svg>
                    </span>
                  </td>
                {{else}}
                  <td>N/A</td>
                  <td>N/A</td>
                {{/if}}
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
    </main>
  </body>
</html>
